.comButton {
  position: absolute;
  height: 40px;
  width: 177px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #d94e28;
  font-family: arial;
  margin-top: -45px;
  margin-left: 197px;
}

.navButton {
  height: 40px;
  margin-left: 950px;
  margin-top: 16px;
  width: 120px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  position: absolute;
  background-color: #d94e28;
  font-family: arial;
}

h2 {
  text-align: center;
  font-family: arial;
  font-weight: 900;
  margin-top: 65px;
}

.UploadFile{
  height: 280px;
  width: 400px;
  border: 2px solid #d94e28;
  background-color: #fa9e4d;
  border-radius: 10px;
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  margin-left: 300px;
  margin-right: auto;
}

.UploadForm {
  margin: auto;
}

.heading p {
  text-align: center;
  font-family: arial;
  margin-bottom: 57px;
}

nav {
  background-color: black;
  width: 100%;
}

nav img {
  width: 230px;
  margin-top: 4px;
  padding: 12px;
}

nav p {
  width: 230px;
  margin-left: 15px;
  margin-top: 4px;
  font-family: arial;
  color: #d94e28;
  font-weight: 900;
  padding: 12px;
  font-size: 39px;
}

.resultData {
  position: absolute;
  margin-top: -135px;
  margin-left: 780px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

button {
background-color: #d94e28;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button:hover {
opacity: 0.8;
}

.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #fa9e4d;
}

.container {
padding: 20px;
}

span.psw {
float: right;
padding-top: 16px;
}

.modal {
display: none; 
position: fixed; 
z-index: 1; 
left: 0;
top: 0;
width: 100%;
height: 100%; 
overflow: auto; 
background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
padding-top: 60px;
}

.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto;
border: 1px solid #888;
width: 30%; 
}

.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

.loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
span.psw {
  display: block;
  float: none;
}
.cancelbtn {
  width: 100%;
}
}